
  
  .mainprofile {
    height: 89vh; 
    display: flex;
    
    background-color: #f0f0f0;
    width: 100%;
  display: flex;justify-content: center;
  }

  .infocard{
    height: 20vh;width: 100%;
    background-color: #f05f5f;
    border-radius: 20px;
    margin-top: 50px;
    display: flex;flex-direction: row;
  }
  
  .jstmid{
    height: 100%;width: 70%;
    border: 1px solid black;
  }

  .custom-thumbnail {
    width: 80px;  
    height: 80px;  
    border-radius: 50%;  
    object-fit: cover;  
    overflow: hidden; 
  }
  .imgcon{
    padding-left: 26px;
    padding-top: 40px;
  }
  .circleImg{
    width: 80px;  
    height: 80px;  
    border-radius: 50%;  
    border: 3px solid rgb(255, 255, 255);
    color: white;background-color: orange;
    overflow: hidden;
    text-align: center;
    display: flex;align-items: center;justify-content: center;
  }
  
  #letter{
    overflow: hidden;font-weight: 300;font-size: 30px;padding-top: 10px;
  }

  .username{
    margin-left: 30px;
    overflow: hidden;
    margin-top: 60px;color: white;
  }